@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700|Noto+Serif+KR:300,400,500,700|Song+Myung&display=swap');

body {
    margin: 0;
    min-height: 800px;
    /* border: 1px solid black; */
}

.wrapper__main {
    width: 100%;
    min-height: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* ---------------- */

.nav {
    font-family: 'Quicksand';
    min-height: 100%;
}

.header__logo {
    font-size: 1.3em;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkcyan;
}

li {
    float: left;
}

li a, .header__button {
    display: inline-block;
    color: white;
    text-align: right;
    padding: 15px;
    text-decoration: none;
}

.header__button {
    min-width: 60px;
    /* padding: 15px 10px 15px 28px; */
}

li a:hover, .header__dropdown:hover {
	text-align: right;
}

li.header__dropdown {
    display: inline-block;
    float: right;
    font-size: 1.3em;
    padding-right: 10px;
    text-align: right;
    padding-right: 0;
}

.header__content {
    display: none;
    position: absolute;
    background-color: darkslategray;
    opacity: 0.8;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.header__content a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: right;
}

.header__content a:hover {
    background-color: darkgray;
}

.header__dropdown:hover .header__content {
    display: block;
}

/* ---------------- */

.footer {
    position: relative;
    margin-top: 15px;
    padding: 2px;
    background-color: darkcyan;
    color: white;
    font-size: 0.7em;
    width: 100%;
    text-align: center;
}



@media(min-width: 720px) {
    .wrapper__main {
        width: 65%;
    }

    /* .header__logo {
        font-size: 1.5em;
    } */
}

.main__image{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 250px;
	background-image: url("https://images.unsplash.com/photo-1530789253388-582c481c54b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
	background-size: cover;
}

.main__title__back{
	background-color: #5e595985;
		
}

.main__title{
	color: white;
	text-align: center;
	font-size: 30px;
}

.inputForm {
  width: 100%;
  padding: 17px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 3%;
}

.loginBtn{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: darkcyan;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.login__menu{
	display: grid;
    grid-template-columns: 2fr 2fr;
    text-align: center;
    color: grey;
}

.login__menu a{
	cursor: pointer;
}