<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gongsurae.awesomeplace.mapper.MemberMapper">
	
	<!-- 회원 아이디로 회원 조회 -->
	<select id="selectMemberById" resultType="com.gongsurae.awesomeplace.vo.MemberVO">
		SELECT * FROM MEMBER 
		WHERE MEM_ID = #{MEM_ID}
	</select>


</mapper>