<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.edu.model.mapper.ReviewMapper">
	
	<!-- 회원 아이디로 회원 조회 -->
	<insert id="insertReview" parameterType="com.ssafy.edu.model.vo.ReviewVo">
		INSERT INTO REVIEW(TITLE,CONTENT,TIME_STAMP,ID,CONTENTID)
		VALUES(#{title},#{content},#{time_Stamp},#{id},#{contentid})
	</insert>
	<delete id="deleteReview" parameterType="java.lang.Integer">
		DELETE FROM REVIEW
		WHERE NUM = #{num}
	</delete>
	<update id="updateReview" parameterType="com.ssafy.edu.model.vo.ReviewVo">
		UPDATE REVIEW
		SET TITLE=#{title},CONTENT=#{content}
		WHERE NUM=#{num}
	</update>
	<select id="getReviewByTour" parameterType="java.lang.Integer"
	resultType="com.ssay.edu.model.vo.ReviewVo">
		SELECT * FROM REVIEW
		WHERE CONTENTID=#{contentid}
	</select>
	<select id="getReviewByUser" parameterType="java.lang.String"
	resultType="com.ssafy.edu.vo.ReviewVo">
		SELECT * FROM REVIEW
		WHERE ID = #{id}
	</select>
	<insert id="insertComment" parameterType="com.ssafy.edu.vo.CommentVo">
		INSERT INTO REVIEW_COMMENT(TEXT,ID,NUM,TIME_STAMP)
		VALUES(#{text},#{id},#{num},{time_Stamp})
	</insert>
	<delete id="deleteComment" parameterType="java.lang.Integer">
		DELETE FROM REVIEW_COMMENT
		WHERE NUM = #{num}
	</delete>
	<select id="getCommentByTour" parameterType="java.lang.Integer"
	resultType="com.ssafy.edu.vo.CommentVo">
		SELECT * FROM REVIEW_COMMENT
		WHERE CONTENTID = #{contentid}
	</select>
</mapper>