<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">

    <div id="app">
		<ol>
			<li>
				{{ page.mem_ID }}
			</li>
			<li>
				{{ page.mem_NAME }}
			</li>
			<li>
				{{ page.mem_COM }}
			</li>
			<li>
				<img :src="page.mem_IMG" style="width: 200px;">
			</li>
		</ol>
	</div>
	
	
<!-- Vue.js axios -->
<script type="text/javascript">
		var app = new Vue({
			el : '#app',
			data : {page:''},
			mounted(){
				axios.get('/awesomeplace/member')
				.then(response =>(this.page=response.data))
				.catch(error=>{
					console.log(error)
				})
			}
		})
		
		Vue.config.devtools=true;
	</script>

</div>
</html>
